$white-color:#fff;
$transparent-white-color:rgba(255, 255,255, .7);
$grey-color: #444;
$light-grey-color: #888;
$lighter-grey-color: #efefef;
$primary-color: #8ed1fc;
$transparent-primary-color:rgb(93, 144, 216,0.11);
$secondary-color:#488eb9;
$blue-color:rgb(10, 10, 248);
$green-color:#399e2f;

$dark-gradient:linear-gradient(0deg,rgba(2,0,36,1) 0% , rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%);
