%table-border{
    border: solid 1px $light-grey-color;
}
%table-bg-color{
    background-color: $lighter-grey-color;
}
.table{
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    table-layout: fixed;
    td{
       @extend %table-border
    }
    th{
       @extend %table-border
    }
    tr td:first-child{
        @extend %table-bg-color; 
    }
    thead{
        @extend %table-bg-color;
    }
    tfoot{
        @extend %table-bg-color;
    } 
}